body {
    padding: 2rem;
    background-color: rgb(215, 222, 201)
}

#container {
    border: 7px solid #0A2000;
    border-radius: 15px ;
    display: block;
    margin: auto;
    background-color: #BEDC91;
}
